Source: hyprcursor
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               cmake-extras,
               cmake,
Rules-Requires-Root: no

Package: libhyprcursor
Architecture: linux-any
Depends:
         ${shlibs:Depends},
         ${misc:Depends},
         hyprland,
         qt6-wayland,
         xdg-desktop-portal,
Provides: hyprcursor (= ${binary:Version}),
Description: The hyprland cursor format, library and utilities.

Package: libhyprcursor-dev
Architecture: linux-any
Depends:
         ${shlibs:Depends},
         ${misc:Depends},
         libhyprcursor (= ${binary:Version}),
Provides: hyprcursor-dev (= ${binary:Version}),
Description: Development files for The hyprland cursor format, library and utilities.
